@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');

body {
    margin: 0;
    padding: 0;
    background: rgb(43,43,47);
    background: radial-gradient(circle, rgba(43,43,47,0.6898109585631127) 0%, rgba(68,70,75,0.9251050762101716) 35%, rgba(27,29,29,1) 100%);
    font-family: "Alexandria";
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background: rgb(43,43,47);
    background: radial-gradient(circle, rgba(43,43,47,0.5217437316723564) 0%, rgba(68,70,75,0.8130602582830007) 35%, rgba(27,29,29,0.8578781854538691) 100%);
    position: fixed;
    width: 100%;
}

.logo {
    display: flex;
    gap: 1%;
    place-items: center;
    justify-content: space-between;
    gap: 20px;
}
.logo img{
    width: 40px;
    height: 40px;
}

.odkaz {
    display: flex;
    gap: 50px;
    place-items: center;
    justify-content: center;
}

.Kontakt {
    display: flex;
    gap: 10px;
    place-items: center;
}

.Kontakt:hover {
    color: red;
}

.Kontakt button {
    place-items: center;
    text-decoration: none;
    background: transparent;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
    display: flex;
    
}

p {
    font-size: larger;
}

a:hover {
    color: rgb(212, 61, 61);
}

.Homies {
    color: rgb(212, 61, 61);
}

.hideondesktop {
    display: none;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "hlavicka hlavicka"
        "fotka1 fotka2"
        "fotka3 fotka4"
        "Text1 Text1"
        "Text2 fotka5"
        "pata pata"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto auto auto 1fr;
    height: 100vh;
}

.grid-item {
    display: grid;
    place-items: top;
    font-weight: bold;
    text-align: center;
    color: rgb(219, 235, 251);
    padding: 10px;
}

.grid-item1 {
    grid-area: hlavicka;
    font-weight: bold;
    font-size: 20px;
    padding-top: 60px;
}

.grid-item2 {
    grid-area: fotka1;
    margin-left: 20px;
    margin-right: 20px;
    place-items: center;
}

.grid-item2 img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.grid-item3 {
    grid-area: fotka2;
    margin-left: 20px;
    margin-right: 20px;
    place-items: center;
}

.grid-item3 img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.grid-item4 {
    grid-area: fotka3;
    margin-left: 20px;
    margin-right: 20px;
    place-items: center;
}

.grid-item4 img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.grid-item5 {
    grid-area: fotka4;
    margin-left: 20px;
    margin-right: 20px;
    place-items: center;
}

.grid-item5 img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.grid-item6 {
    display: grid;
    grid-area: Text1;
    place-items: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: x-large;
}

.grid-item7 {
    grid-area: fotka5;
    margin-left: 20px;
    margin-right: 20px;
    place-items: center;
}

.grid-item7 img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.grid-item8 {
    grid-area: Text2;
    place-items: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: x-large;
}

.grid-item9 {
    grid-area: pata;
    padding-bottom: 20px;
    padding-top: 20px;
    place-items: center;
}


@media (max-width:600px) {
    .hideondesktop {
        display: initial;
        z-index: 2;
    }
    

    .hideonmobile {
        display: none;
    }

    .hideonmobile.active {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        color: rgb(219, 235, 251);
        height: 100vh;
        width: 100vw;
        position: fixed;
        gap: 10%;
        background: rgb(43,43,47);
        background: radial-gradient(circle, rgba(43,43,47,0.5217437316723564) 0%, rgba(68,70,75,0.8130602582830007) 35%, rgba(27,29,29,0.8578781854538691) 100%) ;
    }

    .grid-container {
        grid-template-areas:
            "hlavicka"
            "fotka1"
            "fotka2"
            "fotka3"
            "fotka4"
            "Text1"
            "Text2"
            "fotka5"
            "pata"
        ;
        grid-template-columns: none;
    }
}